params.background_color_u8 = 153
params.threshold=0.99
params.outdir="."
params.size="1,1"
params.pixel="1,1"


profiles {
	conda {
		process {
			withName: compile {
			    conda = "rust git"
			}
			withName: normalization_colorization{
				conda = "r-base r-magrittr r-data.table r-glue"
			}
			withName: render_to_png{
				conda "scipy numpy pillow"
			}
		}
	}
}

