params.background_color = "#000000"
params.threshold=0.99
params.outdir="."
params.size="1,1"
params.pixel="1,1"


profiles {
	standard {
		process.executor = "local"
		withName : normalization_colorization {
			maxForks = 4
		}
	}


	conda {
		process {
			withName: compile {
			    conda = "rust git"
			}
			withName: normalization_colorization{
				conda = "r-base r-magrittr r-data.table r-glue"
			}
		}
	}
}

